# Omada
OMADA_BASE_URL=
OMADA_OMADAC_ID=
OMADA_CLIENT_ID=
OMADA_CLIENT_SECRET=

# Servidor
PORT=3000

# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=portal_ita
MYSQL_USER=portal_ita
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=