# ==============================
# Variables de entorno / secretos
# ==============================

.env
.env.*
!.env.example


# ==============================
# Dependencias
# ==============================

node_modules/


# ==============================
# Logs
# ==============================

*.log
logs/


# ==============================
# Base de datos / Docker
# ==============================

mysql_data/
data/
*.sql.bak
*.dump


# ==============================
# Archivos temporales
# ==============================

*.tmp
*.temp
*.swp
.DS_Store
Thumbs.db
omada-capturas.json
omada-capturas.jsonl
omada-capturas.jsonl.1


# ==============================
# IDE / editores
# ==============================

.vscode/
.idea/


# ==============================
# Sistema operativo
# ==============================

Desktop.ini


# ==============================
# Certificados / claves privadas
# ==============================
/certs/
*.pem
*.key
*.crt
